@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@600&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: lightgreen;
	height: 95vh;
	width: 95;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	font-family: 'Commissioner', sans-serif;
	color: #022c1e;
}


#canvas {
	margin-top: 15px;
	border: 1px black dashed;
}